name: issue-to-post

on: 
  issues:
    types: [opened, edited]

jobs:
  sync-issue-to-blog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Create Blog Post
        id: create_post
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ISSUE_ID=${{ github.event.issue.number }}
          GITHUB_REPO="${{ github.repository }}"
          issue_data=$(gh api /repos/${{ github.repository }}/issues/${ISSUE_ID})
          ISSUE_TITLE=$(echo "${{ github.event.issue.title }}" | sed 's/[[:space:]]/-/g')
          ISSUE_DATE=$(echo "${{ github.event.issue.created_at }}" | cut -c1-10 | sed 's/-//g')
          POST_PATH="content/posts/${ISSUE_DATE}-${ISSUE_TITLE}.md"
          for file in content/posts/*.md; do
            yaml=$(sed -n '/---/,/---/p' "${file}")
            if echo "${yaml}" | grep -q "issue_id: ${ISSUE_ID}"; then
              OLD_POST_PATH="${file}"
              if [ "$OLD_POST_PATH" != "$POST_PATH" ]; then
                mv "$OLD_POST_PATH" "$POST_PATH"
              fi
              break
            fi
          done
          BLOG_TITLE=$(echo "$issue_data" | jq -r '.title')
          BLOG_DATE=$(echo "$issue_data" | jq -r '.created_at')
          BLOG_DESCRIPTION=""
          BLOG_TAGS=$(echo "$issue_data" | jq -r '[.labels[].name]')
          BLOG_CONTENT=$(echo "$issue_data" | jq -r '.body')
          export GITHUB_REPO ISSUE_ID POST_PATH BLOG_TITLE BLOG_DATE BLOG_DESCRIPTION BLOG_TAGS BLOG_CONTENT
          envsubst < template/template.md > ${POST_PATH}

      - name: Commit and Push Changes
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "Sync issue #${{ github.event.issue.number }} to blog"
          git push origin blog
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
